@import "../../styles/colors/colors.scss";

.input {
  width: 205px;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 8px 0 0 8px;
  background-color: $color-light;
  &:focus-visible {
    box-shadow: 0 0 5px black;
  }
}
