@import "../../styles/colors/colors.scss";

.button {
  max-width: 45px;
  width: 100%;
  background-color: $color-bolot;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 28px;
  padding-bottom: 2px;  
  font-weight: 400;
  &:hover{
    box-shadow: 0 0 5px black;
    transition: all 0.2s ease;
  }
  &:active{
    text-shadow: 0 0 5px black;
  }
}
